/*=========================== Quetion of Ovey Form ============================================*/
/* common colors */
a.btn {
    text-decoration: none;
    /*background-color: #AAA;*/
    display: inline-block;
}
a.btn.large {
    padding: 15px 50px;
    font-size: 24px;
}
a.btn.medium {
    padding: 10px 15px;
    font-size: 19px;
}
a.btn.small {
    padding: 8px 12px;
    font-size: 13px;
}
a.btn.blue_1 {
    background-color: #2667b9;
}
a.btn.blue_2 {
    background-color: #30a3da;
}
a.btn.blue_3 {
    background-color: #5bc9e4;
}
a.btn.gray_5 {
    background-color: #323a45;
}
a.btn.darkblue_1 {
    background-color: #255391;
}
a.btn.darkblue_2 {
    background-color: #13345e;
}
a.btn.orange_1 {
    background-color: #f1592a;
}
a.btn.yellow_1 {
    background-color: #f8941d;
}
a.btn.purple_1 {
    background-color: #645aaa;
}
a.btn {
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    -ms-transition: All 0.3s ease;
    transition: All 0.3s ease;
}
a.btn.gray_3:hover {
    background-color: #5e6d81;
}
a.btn.gray_3:active {
    background-color: #9ea7b3;
}
a.btn.gray_3.notrans:hover {
    background-color: #9ea7b3;
}
a.btn.gray_3.notrans:active {
    background-color: #9ea7b3;
}
a.btn.blue_1:hover {
    background-color: #30a3da;
}
a.btn.blue_1:active {
    background-color: #2667b9;
}
a.btn.blue_1.notrans:hover {
    background-color: #2667b9;
}
a.btn.blue_1.notrans:active {
    background-color: #2667b9;
}
a.btn.blue_2:hover {
    background-color: #3fb3eb;
}
a.btn.blue_2:active {
    background-color: #30a3da;
}
a.btn.blue_2.notrans:hover {
    background-color: #30a3da;
}
a.btn.blue_2.notrans:active {
    background-color: #30a3da;
}
a.btn.darkblue_2:hover {
    background-color: #255391;
}
a.btn.darkblue_2:active {
    background-color: #13345e;
}
a.btn.darkblue_2.notrans:hover {
    background-color: #13345e;
}
a.btn.darkblue_2.notrans:active {
    background-color: #13345e;
}
a.btn.orange_1:hover {
    background-color: #ff7200;
}
a.btn.orange_1:active {
    background-color: #f1592a;
}
a.btn.orange_1.notrans:hover {
    background-color: #f1592a;
}
a.btn.orange_1.notrans:active {
    background-color: #f1592a;
}
a.btn.purple_1:hover {
    background-color: #4d4183;
}
a.btn.purple_1:active {
    background-color: #645aaa;
}
a.btn.purple_1.notrans:hover {
    background-color: #645aaa;
}
a.btn.purple_1.notrans:active {
    background-color: #645aaa;
}
i.icon {

    background-repeat: no-repeat;
    display: inline-block;
}
i.icon.medium {
    width: 19px;
    height: 19px;
    background-position-y: 0px;
}
i.icon.download {
    background-position-x: 0px;
}
/* table */
table.ov_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5px;
    /* manual */

    border-bottom: 1px solid #dbe1e8;
}
table.ov_table tr {
    padding: 0 15px;
}
table.ov_table th,
table.ov_table td {
    padding: 8px;
    line-height: 1.8;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dbe1e8;
}
table.ov_table th {
    font-weight: bold;
}
table.ov_table thead th {
    vertical-align: bottom;
}
table.ov_table caption + thead tr:first-child th,
table.ov_table caption + thead tr:first-child td,
table.ov_table colgroup + thead tr:first-child th,
table.ov_table colgroup + thead tr:first-child td,
table.ov_table thead:first-child tr:first-child th,
table.ov_table thead:first-child tr:first-child td {
    border-top: 0;
}
table.ov_table td.left,
table.ov_table td.left {
    text-align: left;
}
table.ov_table td.center,
table.ov_table th.center {
    text-align: center;
}
table.ov_table td.right,
table.ov_table th.right {
    text-align: right;
}
table.ov_table th {
    background-color: #2667b9;
    color: #FFF;
}
table.ov_table td {
    background-color: #FFF;
    color: #5e6d81;
}
table.ov_table a:hover {
    color: #2667b9;
    text-decoration: underline;
}
table.ov_table.hover tbody tr:hover > td,
table.ov_table.hover tbody tr:hover > th,
table.ov_table.hover tbody tr:hover > td > a,
table.ov_table.hover tbody tr:hover > th > a,
table.ov_table.hover tbody tr.active > td,
table.ov_table.hover tbody tr.active > th,
table.ov_table.hover tbody tr.active > td > a,
table.ov_table.hover tbody tr.active > th > a {
    background-color: #eaedf1;
    color: #2667b9;
}
table.ov_table.hover tbody tr.nohover > td,
table.ov_table.hover tbody tr.nohover > th,
table.ov_table.hover tbody tr.nohover > td > a,
table.ov_table.hover tbody tr.nohover > th > a {
    background-color: #FFF;
    color: #5e6d81;
}
/* page tabs */
ul.ov_navtab {
    overflow-y: auto;
    border-top: 1px solid #dbe1e8;
    border-bottom: 1px solid #dbe1e8;
    padding: 0 15px;
}
ul.ov_navtab li {
    padding: 10px 15px;
    font-size: 22px;
    float: left;
    cursor: pointer;
}
ul.ov_navtab li a {
    color: #9ea7b3;
}
ul.ov_navtab li a:hover {
    text-decoration: underline;
}
ul.ov_navtab li.active a {
    color: #000;
}
ul.ov_navtab li.active a:hover {
    text-decoration: none;
}
/* pagination */
div.ov_pagination {
    font-size: 13px;
    padding: 15px 0;
    text-align: center;
    clear: both;
}
div.ov_pagination ul {
    display: inline-block;
}
div.ov_pagination ul li {
    display: inline;
}
div.ov_pagination ul li a {
    padding: 4px 8px;
    color: #9ea7b3;
}
div.ov_pagination ul li a.active {
    color: #2667b9;
    font-weight: bold;
}
div.ov_pagination ul li a:hover {
    text-decoration: underline;
    color: #2667b9;
}
/* example

@base: #f938ab;
.box-shadow(@style, @c) when (iscolor(@c)) {

  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}

*/
textarea {
    overflow: hidden;
    resize: none;
}
.float-right {
    float: right;
}
.bold {
    font-weight: bold;
}
.inline-block {
    display: inline-block;
}
.float-left {
    float: left;
}
div#content {
    float: none;
    display: block;
    position: relative;
    width: 1024px;
    background-color: white;
}
div#editsurvey_title {
    font-size: 20px;
    font-weight: bold;
}
div#surveyMessages {
    min-height: 165px;
    border: 5px solid #D0D0D0;
    margin-bottom: 35px;
}
#surveyMessagesIcon {
    float: left;
    width: 100px;
    height: 100px;
    margin: 15px;
}
#surveyMessagesIcon.caution01 {
    background: url("/ovey/img/web/editsurvey/caution01.png") no-repeat 0 0;
}
#surveyMessagesIcon.caution02 {
    background: url("/ovey/img/web/editsurvey/caution02.png") no-repeat 0 0;
}
#surveyMessagesIcon.caution03 {
    background: url("/ovey/img/web/editsurvey/caution03.png") no-repeat 0 0;
}
#surveyMessages .msg {
    margin-left: 135px;
    width: 500px;
}
#surveyMessages .survey_red_msg {
    font-weight: bold;
    color: #E40601;
}
.msg .header {
    color: #777777;
    margin: 16px 0;
}
.msg ul {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 16px;
}
.msg ul .error {
    color: #EA3707;
    cursor: pointer;
}
.msg ul .ok {
    color: #007DC3;
}
.msg ul .hasImage {
    color: #007DC3;
}
.msg ul .shortage {
    color: #eaa907;
}
#imageUploader {
    position: absolute;
    padding: 15px;
    top: 0;
    left: 0;
    width: 220px;
    height: 230px;
    z-index: 1000;
    border: 1px solid #D0D0D0;
    background-color: white;
    border-radius: 5px;
}
#imageUploader .hr {
    margin: 5px auto;
    background-color: black;
    height: 1px;
}
#imageUploader .red {
    color: #EA3707;
}
#imageUploader [name=uploadImage] {
    width: 215px;
}
#track {
    position: absolute;
    right: 0px;
    top: 70px;
    width: 370px;
    height: 100%;
    overflow: visible;
    padding-bottom: 20px;
    z-index: 900;
}
#track.pinned #rail {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 370px;
}
#track.floating #rail {
    position: fixed;
    top: 31px;
    margin-top: 10px;
}
#track.overridefloat #rail {
    position: absolute !important;
    right: 0px !important;
    top: 0px !important;
    width: 367px !important;
}
#floatbar {
    position: relative;
    width: 370px;
    clear: none;
    float: right;
    overflow: hidden;
    margin-top: 0px;
}
#floatbar.expanded {
    width: 600px;
    margin-left: 0;
}
#floatbar .inner {
    overflow: hidden;
    background: #D0D0D0;
    border: 5px solid #D0D0D0;
    height: 165px;
}
#floatbar .header {
    overflow: auto;
    background: #FAFAFA;
    padding: 2px 4px;
    font-size: 11px;
}
#floatbar .content {
    overflow: auto;
    background: #FAFAFA;
    padding: 4px;
    margin-top: 4px;
    height: 132px;
}
#floatbar .header .item_title {
    display: inline-block;
    width: 53px;
    font-weight: bold;
}
#floatbar .header .data {
    display: inline-block;
    color: #777777;
}
.survey_brief {
    float: left;
    font-size: 11px;
    line-height: 1.7em;
}
.survey_brief .detail_row {
    margin-bottom: 5px;
    zoom: 1;
}
.survey_brief .detail_row:last-child {
    margin-bottom: 0px;
}
.survey_brief .item_title {
    float: left;
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    width: 55px;
    letter-spacing: -1px;
}
.survey_brief .item_title_title {
    float: left;
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    width: 95px;
    letter-spacing: -1px;
}
.survey_brief .data {
    display: inline-block;
    color: #A0A0A0;
}
.survey_brief .detail_row .push_info {
    color: #99cc00;
    font-weight: bold;
}
.price_detail {
    float: right;
    width: 220px;
    margin-right: 110px;
    font-size: 11px;
    line-height: 1.3em;
}
.price_detail .detail_row {
    zoom: 1;
    overflow: auto;
    padding: 1px 0;
}
.price_detail .detail_row:last-child {
    margin-bottom: 0px;
}
.price_detail .item_title {
    float: left;
    display: inline-block;
    font-weight: bold;
    letter-spacing: -1px;
}
.price_detail .data {
    float: right;
    color: #A0A0A0;
    text-align: right;
}
.price_detail #price_detail_quesCnt_explain {
    background-color: #FFFEED;
    position: absolute;
    border: 1px solid black;
    padding: 7px;
    width: 200px;
    z-index: 10;
}
.price_linksurvey_detail {
    float: right;
    width: 220px;
    margin-right: 110px;
    font-size: 11px;
    line-height: 1.3em;
}
.price_linksurvey_detail .detail_row {
    zoom: 1;
    overflow: auto;
    padding: 1px 0;
}
.price_linksurvey_detail .detail_row:last-child {
    margin-bottom: 0px;
}
.price_linksurvey_detail .item_title {
    float: left;
    display: inline-block;
    font-weight: bold;
    letter-spacing: -1px;
}
.price_linksurvey_detail .data {
    float: right;
    color: #A0A0A0;
    text-align: right;
}
.price_linksurvey_detail #price_detail_quesCnt_explain {
    background-color: #FFFEED;
    position: absolute;
    border: 1px solid black;
    padding: 7px;
    width: 188px;
    z-index: 10;
}
#price_text,
#price_detail_price {
    font-weight: bold;
    color: #007DC3;
}
#floatbar .buttons {
    width: 85px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 165px;
    border-left: 5px solid #D0D0D0;
}
#payRequestBtn {
    cursor: pointer;
    width: 85px;
    height: 80px;
    background: url('/ovey/img/web/editsurvey/button_payment.png') no-repeat -17px -15px;
}
#freeTrialBtn {
    cursor: pointer;
    width: 85px;
    height: 80px;
    background: url('/ovey/img/web/editsurvey/button_trial.png') no-repeat -17px -15px;
}
#simulatorBtn {
    cursor: pointer;
    width: 85px;
    height: 80px;
    background: url('/ovey/img/web/editsurvey/button_simulation.png') no-repeat -17px -15px;
}
#liveRequestBtn {
    cursor: pointer;
    width: 85px;
    height: 80px;
    background: url('/ovey/img/web/editsurvey/btn_surveylive_request.png') no-repeat -17px -15px;
}
#smsresendBtn {
    cursor: pointer;
    width: 85px;
    height: 80px;
    background: url('/ovey/img/web/editsurvey/btn_resend.png') no-repeat -17px -15px;
}
#surveyquitBtn {
    cursor: pointer;
    width: 85px;
    height: 80px;
    background: url('/ovey/img/web/editsurvey/btn_survey_quit.png') no-repeat -17px -60px;
}
#floatbar #simulationWrapper {
    width: 381px;
    height: 738px;
    margin-top: 10px;
}
#simulator {
    border: 0;
    width: 320px;
    height: 432px;
    margin-left: 15px;
}
#simulatorWrapper .simulator_top {
    height: 22px;
    padding-top: 8px;
    padding-left: 143px;
    font-weight: bold;
    background: url('/ovey/img/web/editsurvey/simulator_top.png') no-repeat 0 0;
}
#simulatorWrapper .simulator_body {
    background: url('/ovey/img/web/editsurvey/simulator_middle.png') repeat-y 0 0;
}
#simulatorWrapper .simulator_bottom {
    height: 21px;
    background: url('/ovey/img/web/editsurvey/simulator_bottom.png') no-repeat 0 0;
}
#first-tab-img {
    width: 100px;
    height: 32px;
}
#second-tab-img {
    width: 100px;
    height: 32px;
}
.option_image_insert {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin: 0 0 -5px 5px;
    cursor: pointer;
    background: url("/ovey/img/web/editsurvey/surveyimage/q_btn_imginsert.png") no-repeat 0 0;
}
#questions.not_editable .option_image_insert {
    display: none;
}
div.ques.piping .option_image_insert {
    display: none;
}
.answer_remove {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin: 0 0 -5px 5px;
    cursor: pointer;
    background: url("/ovey/img/web/editsurvey/q_button_del_red.png") no-repeat 0 0;
}
#questions.not_editable .answer_remove {
    display: none;
}
div.ques.piping .answer_remove {
    display: none;
}
div#edit_target_upload {
    margin: 5px 0;
    height: 80px;
}
div#edit_target_invitemsg {
    margin: 0px;
}
select[multiple] {
    height: 150px;
    width: 90px;
}
select[name=areaSelected],
select[name=area1] {
    width: 200px;
}
#target_type2,
#target_type3,
#target_type4,
#target_type11 {
    margin-left: 15px;
}
#target_type11 {
    margin-top: 10px;
}
#target_type1 .option {
    vertical-align: top;
}
#group_code {
    font-weight: bold;
}
.target_type_guide {
    margin-left: 5px;
    margin-top: 5px;
    color: #888;
    font-size: 11px;
}
#survey_single_answer_url {
    width: 200px;
}
#edit_target_invitemsg textarea {
    padding-top: 3px;
    width: 350px;
    height: 70px;
}
#edit_target_invitemsg .detail_row {
    overflow: hidden;
}
#edit_target_invitemsg .detail_row .item_title {
    float: left;
    margin-top: 8px;
}
#edit_target_invitemsg .detail_row .input {
    margin-left: 70px;
}
#edit_target_invitemsg input[type=text] {
    width: 250px;
}
.tabbar {
    height: 45px;
    font-size: 18px;
    position: relative;
    border-bottom: 1px solid #3C3C3C;
}
.tabbar .selected {
    font-weight: bold;
    color: white;
    border: 1px solid #266892;
    background-color: #007DC3;
}
.tabbar .unselected {
    border: 1px solid #C8C8C8;
    cursor: pointer;
    background-color: #EEEEEE;
}
.tabbar .tab1 {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 110px;
    text-align: center;
    height: 33px;
    padding-top: 12px;
}
.tabbar .tab2 {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 111px;
    width: 155px;
    text-align: center;
    height: 33px;
    padding-top: 12px;
}
#tab1image {
    height: 17px;
    width: 67px;
    display: inline-block;
}
#tab2image {
    height: 17px;
    width: 113px;
    display: inline-block;
}
.tab1.selected #tab1image {
    background: url('/ovey/img/web/editsurvey/tab1_on.png') no-repeat 0px 0px;
}
.tab1.unselected #tab1image {
    background: url('/ovey/img/web/editsurvey/tab1_off.png') no-repeat 0px 0px;
}
.tab2.selected #tab2image {
    background: url('/ovey/img/web/editsurvey/tab2_on.png') no-repeat 0px 0px;
}
.tab2.unselected #tab2image {
    background: url('/ovey/img/web/editsurvey/tab2_off.png') no-repeat 0px 0px;
}
.page1 .clearfix {
    border-bottom: 1px solid #D0D0D0;
    padding: 10px 0 10px 0;
    line-height: 18px;
    overflow: auto;
}
.page1 .clearfix .item_title {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
    width: 80px;
    color: #333333;
    font-weight: bold;
}
.page1 .clearfix .data {
    margin-left: 124px;
    color: #777777;
    line-height: 1.5em;
}
.page1 .target_type_wrap {
    width: 540px;
    margin-left: 107px;
}
.page1 .target_type_inner_wrap {
    width: 647px;
}
.page1 .clearfix_noborder {
    padding: 10px 0 10px 0;
    line-height: 18px;
    overflow: auto;
}
.page1 .clearfix_noborder .item_title {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
    width: 80px;
    color: #333333;
    font-weight: bold;
}
.page1 .clearfix_noborder .data {
    margin-left: 124px;
    color: #777777;
    line-height: 1.5em;
}
.page2 .clearfix {
    border-bottom: 1px solid #D0D0D0;
    padding: 10px 0 10px 0;
    line-height: 18px;
    overflow: auto;
}
.page2 .clearfix .item_title {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
    width: 80px;
    color: #333333;
    font-weight: bold;
}
.page2 .clearfix .data {
    margin-left: 113px;
    color: #777777;
}
.page2 .clearfix_noborder {
    padding: 10px 0 10px 0;
    line-height: 18px;
    overflow: auto;
}
.page2 .clearfix_noborder .item_title {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
    width: 80px;
    color: #333333;
    font-weight: bold;
}
.page2 .clearfix_noborder .data {
    margin-left: 113px;
    color: #777777;
}
.page2 .clearfix #questions {
    width: 525px;
    overflow: hidden;
}
.page2 #link_profile_wrapper.clearfix .data {
    margin-top: 5px;
}
.page2 #link_profile_wrapper.clearfix .data .detail {
    width: 525px;
}
#comments {
    width: 370px;
    height: 500px;
    padding: 0px 0px 10px 0px;
    display: none;
    position: absolute;
    margin-top: 10px;
    z-index: -1;
}
.csection {
    position: absolute;
    width: 370px;
}
.csection_wrapper {
    line-height: 18px;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
}
.csection_total {
    margin-bottom: 16px;
}
.collapsed {
    width: 277px;
    margin-left: 90px;
}
.expanded {
    background-color: #FAFAFA;
    width: 277px;
    margin-left: 90px;
}
.already {
    background-color: #FAFAFA;
    width: 277px;
    z-index: 1;
    margin-left: 0px;
}
.total {
    width: 490px;
    margin: 0;
}
.csection_foot {
    float: right;
    text-align: right;
    padding: 10px;
    font-size: 11px;
}
.comment_add {
    float: right;
    width: 135px;
    height: 26px;
    background: url('/ovey/img/web/editsurvey/btn_addcomment.png') no-repeat 0 0 transparent;
    cursor: pointer;
}
.comment_input {
    width: 257px;
    border: 0;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
.survey_comment_input {
    width: 470px;
    border: 0;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
input.survey_title {
    width: 518px;
}
input.survey_app_apikey {
    width: 518px;
}
textarea.survey_desc {
    height: 70px;
    width: 518px;
    line-height: 1.5em;
}
div.text_count_div {
    width: 518px;
}
div.text_count_input_div {
    width: 390px;
}
span.text_count {
    float: right;
    margin-top: 5px;
    color: #007DC3;
}
span.text_count.overflow {
    color: #FF0033;
}
#surveyErrorMsg img.error,
#surveyWarningMsg img.error {
    float: left;
    width: 40px;
    height: 40px;
}
#surveyErrorMsg p,
#surveyErrorMsg ul,
#surveyWarningMsg p,
#surveyWarningMsg ul {
    margin-left: 70px;
}
.qsection {
    line-height: 18px;
    margin-bottom: 23px;
    border: 1px solid #D0D0D0;
}
.qsection.placeholder {
    height: 40px;
    border: 2px dashed gray;
}
.qsection .qsection_head {
    overflow: auto;
    cursor: move;
    background-color: #13345e;
}
.ques_title {
    font-weight: bold;
    width: 345px;
    background: transparent;
    border: none;
    color: white;
    margin-top: 8px;
    border: 1px solid transparent;
    line-height: 1.5em;
    max-height: 100px;
    cursor: text;
    word-wrap: break-word;
}
.qsection_head .ques_data {
    float: right;
    position: relative;
    width: 467px;
    max-height: 110px;
    overflow-y: hidden;
    padding-left: 10px;
    background-color: #30a3da;
    color: #FFF;
    padding-bottom: 8px;
}
div.ques.piping .qsection_head .ques_data {
    background: url("/ovey/img/web/editsurvey/q_top_piping_bg.png") repeat-x 0 0 transparent;
}
div.ques_num {
    font-family: helvetica;
    float: left;
    width: 45px;
    text-align: center;
    padding-top: 9px;
    color: #FFF;
    font-size: 20px;
}
div.ques_section_border_left {
    display: inline-block;
    height: 1px;
    float: left;
    width: 46px;
    background-color: #041822;
}
div.ques_section_border_right {
    height: 1px;
    background-color: #0f73a5;
}
.qsection .qsection_body {
    overflow: auto;
    line-height: 18px;
}
.qsection span.qsection_taskbar {
    float: right;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}
.qsection_taskbar .divider {
    width: 2px;
    height: 150px;
    background: url("/ovey/img/web/editsurvey/q_taskbar_divider.png") repeat-y 0 0 transparent;
    display: inline-block;
    float: left;
}
div.ques.piping .qsection_taskbar .divider {
    background: url("/ovey/img/web/editsurvey/q_taskbar_piping_divider.png") repeat-y 0 0 transparent;
}
.qsection_taskbar .ques_remove {
    width: 16px;
    height: 16px;
    background: url("/ovey/img/web/editsurvey/q_button_delete.png") no-repeat 0 0;
    display: inline-block;
    margin: 12px;
    float: left;
    cursor: pointer;
}
#questions.not_editable .qsection_taskbar {
    display: none;
}
.ques_image_insert {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin: 12px;
    float: left;
    cursor: pointer;
    background: url("/ovey/img/web/editsurvey/surveyimage/q_btn_imginsert_wh.png") no-repeat 0 0;
}
.ques_image_remove {
    height: 16px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: -5px;
    background: url("/ovey/img/web/editsurvey/surveyimage/q_btn_imgremove.png") no-repeat 0 0;
}
#questions.not_editable .ques_image_remove {
    display: none;
}
.ques_layout_clearfix .layout0 {
    float: left;
    padding-left: 25px;
    margin: 6px;
    color: #5A5A62;
    cursor: pointer;
    background: url("/ovey/img/web/editsurvey/surveyimage/q_img_layout_1_off.png") no-repeat 0 0;
}
.ques_layout_clearfix .layout1 {
    float: left;
    padding-left: 25px;
    margin: 6px;
    color: #5A5A62;
    cursor: pointer;
    background: url("/ovey/img/web/editsurvey/surveyimage/q_img_layout_2_off.png") no-repeat 0 0;
}
.ques_layout_clearfix .layout0.on {
    color: #2465a8;
    background: url("/ovey/img/web/editsurvey/surveyimage/q_img_layout_1_on.png") no-repeat 0 0;
}
.ques_layout_clearfix .layout1.on {
    color: #2465a8;
    background: url("/ovey/img/web/editsurvey/surveyimage/q_img_layout_2_on.png") no-repeat 0 0;
}
div.ques.piping .ques_layout_clearfix {
    display: none;
}
.qsection_body .ques_clearfix {
    /*border-bottom: 1px solid #D0D0D0;*/
    /*overflow-y: auto;*/
    /*margin-top: 30px;*/
}
.qsection_body .ques_clearfix:last-child {
    border-bottom: none;
}
.ques_clearfix .ques_item_title {
    float: left;
    width: 120px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.ques_clearfix .ques_data {
    padding: 10px;
    /*margin-left: 45px;*/
    border-left: 1px solid #D0D0D0;
    /*overflow-y: auto;*/
    margin-bottom: 50px;
}

@media (max-width:768px) {
    .ques_clearfix .ques_data {
        margin-left: 5px;
        border-left: none;
    }

    .batas{
        margin-bottom: 10px;
    }
}

.ques_clearfix .ques_data.choices {
    padding: 0px;
}
.ques_clearfix .ques_data.options {
    padding: 0px;
    padding-left: 10px;
}
.ques_clearfix .ques_data.options .option_bar {
    padding: 10px;
}
.ques_clearfix .ques_data.options .option_bar .single_option {
    cursor: pointer;
    display: inline-block;
    padding-right: 5px;
}
.ques_clearfix .ques_data.options .option_bar .multiple_option {
    cursor: pointer;
    display: inline-block;
    padding-right: 5px;
}
.ques_clearfix .ques_data.options .option_bar .rank_option {
    cursor: pointer;
    display: inline-block;
    padding-right: 5px;
}
.ques_clearfix .ques_data.options .option_bar .etc_option {
    cursor: pointer;
    display: inline-block;
    padding-right: 5px;
}
.ques_clearfix .ques_data.options .option_bar .random_option {
    cursor: pointer;
    display: inline-block;
    padding-right: 5px;
}
.ques_clearfix .ques_data.options .option_bar .checked {
    font-weight: bold;
    letter-spacing: -0.6px;
}
.ques_clearfix .ques_data.options .option_explain {
    padding: 10px;
    border-top: 1px solid #D0D0D0;
}
.ques_clearfix .ques_data.options .option_divider {
    padding: 0 7px 0px 0px;
    color: #0076BF;
}
.ques_image_clearfix .ques_image_div {
    margin-left: 25px;
}
.ques_image_clearfix .ques_image_download {
    margin-left: 25px;
}
.qsection_entry {
    height: 34px;
    border-top: 1px solid #D0D0D0;
    background: url("/ovey/img/web/editsurvey/q_bottom_bg.png") repeat-x 0 0 transparent;
}
.qsection_entry .ques_foot_item_title {
    padding: 9px 0 0 5px;
    float: left;
    width: 50px;
    color: #888;
    letter-spacing: -1px;
    font-weight: bold;
}
.qsection_entry input[name=entryCondition] {
    margin-top: 4px;
    width: 300px;
}
.qsection_entry input[name=blockedNextQNo] {
    margin-top: 4px;
    width: 30px;
}
.qsection_foot {
    height: 34px;
    border-top: 1px solid #D0D0D0;
    background: url("/ovey/img/web/editsurvey/q_bottom_bg.png") repeat-x 0 0 transparent;
}
select[name=afterQues] {
    margin-top: 8px;
    height: 20px;
}
.qsection_foot .ques_foot_item_title {
    padding: 9px 0 0 5px;
    float: left;
    width: 50px;
    color: #888;
    letter-spacing: -1px;
    font-weight: bold;
}
.qsection_foot .qsection_foot_buttons {
    float: right;
}
.qsection_foot_buttons .divider {
    width: 1px;
    height: 34px;
    background-color: #D0D0D0;
    display: inline-block;
    float: left;
}
.qsection_foot_buttons .ques_type {
    display: inline-block;
    float: left;
    width: 100px;
    color: #2C2C2C;
    font-weight: bold;
    cursor: pointer;
}
.qsection_foot_buttons .ques_type_options {
    display: none;
    position: absolute;
    border: solid 1px #D0D0D0;
    background-color: #F0EEEE;
    width: 100px;
    z-index: 100;
}
.qsection_foot_buttons .ques_type.shown .ques_type_options {
    display: block;
}
.qsection_foot_buttons .ques_type span.a.detail_row {
    background: url("/ovey/img/web/editsurvey/ques_footer/a.detail_row_down.png") no-repeat 0 0 transparent;
    display: inline-block;
    width: 7px;
    height: 5px;
}
.qsection_foot_buttons .ques_type.shown span.a.detail_row {
    background: url("/ovey/img/web/editsurvey/ques_footer/a.detail_row_up.png") no-repeat 0 0 transparent;
    display: inline-block;
    width: 7px;
    height: 5px;
}
.qsection_foot_buttons .ques_type_option {
    padding-top: 8px;
    height: 26px;
    border-bottom: 1px solid #D0D0D0;
    padding-left: 26px;
}
.qsection_foot_buttons .ques_type_option.selected {
    color: #0177BB;
    cursor: default;
}
.qsection_foot_buttons .ques_type_option:hover {
    color: #0177BB;
}
.qsection_foot_buttons .ques_type_option:last-child {
    border-bottom: none;
}
.qsection_foot_buttons .ques_type .ques_type_show {
    height: 26px;
    padding-left: 7px;
    padding-top: 8px;
    background: url('/ovey/img/web/editsurvey/ques_footer/q_footer_btn_bg.png') repeat-x 0 0 transparent;
}
.qsection_foot_buttons .ques_type.shown .ques_type_show {
    background: url('/ovey/img/web/editsurvey/ques_footer/q_footer_btn_bg_active.png') repeat-x 0 0 transparent;
}
.qsection_foot_buttons .ques_type_show_text {
    width: 54px;
    display: inline-block;
}
.qsection_foot_buttons .setting_icon {
    margin-bottom: -3px;
}
.qsection_foot_buttons .ques_type span.arrow {
    width: 7px;
    height: 5px;
    display: inline-block;
    margin: 0 5px 0 0;
    background: url('/ovey/img/web/editsurvey/ques_footer/arrow_down.png') no-repeat 0 0 transparent;
}
.qsection_foot_buttons .ques_type.shown span.arrow {
    background: url('/ovey/img/web/editsurvey/ques_footer/arrow_up.png') no-repeat 0 0 transparent;
}
#questions.not_editable .qsection_foot_buttons .ques_type span.arrow {
    display: none;
}
#questions.screening .qsection_foot_buttons .ques_type {
    display: none;
}
div.ques.piping .qsection_foot_buttons .ques_type span.arrow {
    display: none;
}
.qsection_foot_buttons .ques_copy_button {
    float: left;
    width: 40px;
    height: 34px;
    background: url('/ovey/img/web/editsurvey/ques_footer/q_copy_btn.png') no-repeat 0 0 transparent;
    cursor: pointer;
}
.qsection_foot_buttons .ques_copy_button:hover {
    background-position: -40px 0px;
}
.qsection_foot_buttons .ques_copy_button:active {
    background-position: -80px 0px;
}
#questions.not_editable .ques_copy_button {
    display: none;
}
#questions.screening .qsection_foot_buttons .ques_copy_button {
    display: none;
}
div.ques.piping .qsection_foot_buttons .ques_copy_button {
    display: none;
}
.qsection_foot_buttons .ques_piping_button {
    float: left;
    width: 40px;
    height: 34px;
    background: url('/ovey/img/web/editsurvey/ques_footer/q_piping_btn.png') no-repeat 0 0 transparent;
    cursor: pointer;
}
.qsection_foot_buttons .ques_piping_button:hover {
    background-position: -40px 0px;
}
.qsection_foot_buttons .ques_piping_button:active {
    background-position: -80px 0px;
}
#questions.not_editable .ques_piping_button {
    display: none;
}
.qsection_foot_buttons .ques_comment_button {
    float: left;
    width: 39px;
    height: 34px;
    background: url('/ovey/img/web/editsurvey/ques_footer/q_copy_btn_normal.png') no-repeat 0 0 transparent;
    cursor: pointer;
}
.qsection_foot_buttons .ques_comment_button:hover {
    background-image: url('/ovey/img/web/editsurvey/ques_footer/q_copy_btn_over.png');
}
.qsection_foot_buttons .ques_comment_button:active {
    background-image: url('/ovey/img/web/editsurvey/ques_footer/q_copy_btn_active.png');
}
.qsection_foot_buttons .ques_simulate_button {
    float: left;
    width: 40px;
    height: 34px;
    background: url('/ovey/img/web/editsurvey/ques_footer/q_simulate_btn.png') no-repeat 0 0 transparent;
    cursor: pointer;
}
.qsection_foot_buttons .ques_simulate_button:hover {
    background-position: -40px 0px;
}
.qsection_foot_buttons .ques_simulate_button:active {
    background-position: -80px 0px;
}
.ques_add {
    overflow: auto;
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
}
.ques_add .button1 {
    width: 170px;
    height: 82px;
    text-align: center;
}
.ques_add .button1 span.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url('/ovey/img/web/editsurvey/btn_set1_white_40px.png') no-repeat 0 0;
}
.ques_add .button2 {
    width: 170px;
    height: 82px;
    text-align: center;
}
.ques_add .button2 span.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url('/ovey/img/web/editsurvey/btn_set1_white_40px.png') no-repeat -40px 0;
}
.ques_add .button3 {
    width: 170px;
    height: 82px;
    text-align: center;
}
.ques_add .button3 span.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url('/ovey/img/web/editsurvey/btn_set1_white_40px.png') no-repeat -80px 0;
}
.ques_add .button4 {
    width: 522px;
    height: 82px;
    text-align: center;
}
.ques_add .button4 span.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url('/ovey/img/web/editsurvey/btn_set1_white_40px.png') no-repeat 0 0;
}
li.ques_li {
    padding: 5px;
    border-bottom: 1px solid #D0D0D0;
}
div.ques_li_max,
div.ques_li_piping,
div.ques_li_show_none {
    padding: 5px 5px 5px 8px;
    border-bottom: 1px solid #D0D0D0;
}
div.ques_li_piping a.ques_li_piping_link {
    font-weight: bold;
    cursor: pointer;
}
li.ques_li_opaque {
    padding: 5px;
    border: none;
}
li.ques_li.ques_li_etc {
    border-top: 1px solid #D0D0D0;
    border-bottom: none;
}
li.ques_li.ui-sortable-helper {
    border: 1px solid #D0D0D0;
}
li.ques_li ::-webkit-input-placeholder {
    color: #999;
}
li.ques_li :-moz-placeholder {
    color: #999;
}
li.ques_li :-ms-input-placeholder {
    color: #999;
}
li.ques_li:last-child {
    border-bottom: none;
}
li.ques_li {
    overflow: auto;
}
li.ques_li .option_image_info_div {
    margin-top: 6px;
    margin-left: 30px;
    float: left;
}
li.ques_li .option_image_div {
    margin-left: 30px;
    clear: both;
}
div.ques.piping li.ques_li .option_image_div {
    display: none;
}
.option_image_info_div .option_image_remove {
    height: 16px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: -5px;
    background: url("/ovey/img/web/editsurvey/surveyimage/q_btn_imgremove.png") no-repeat 0 0;
}
#questions.not_editable .option_image_remove {
    display: none;
}
div.ques.piping .option_image_remove {
    display: none;
}
li.ques_li_none {
    overflow: auto;
}
li.ques_li_opaque input[name=quesAnswer] {
    cursor: pointer;
}
li.ques_li.opaque .ques_li_handle {
    cursor: pointer;
}
#questions.not_editable li.ques_li_opaque {
    display: none;
}
div.ques.piping li.ques_li_opaque {
    display: none;
}
.ques_li_round {
    width: 20px;
    height: 20px;
    padding-top: 2px;
    text-align: center;
    font-size: 11px;
    background: url("/ovey/img/web/editsurvey/round2.png") no-repeat 0 0 transparent;
}
.goto {
    text-align: right;
    float: right;
    margin-top: 6px;
    height: 30px;
    color: #888;
}
span.ques_li_handle {
    float: left;
    display: inline-block;
    width: 30px;
    height: 20px;
    overflow: hidden;
    margin-top: 3px;
}
img.ques_up_down {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
    cursor: move;
}
span.ques_li_more,
span.ques_li_remove,
span.detail {
    font-size: 10px;
    color: blue;
}
item_title {
    padding-top: 6px;
    line-height: 18px;
    float: left;
    width: 50px;
    text-align: right;
    color: #888;
}
div.input {
    padding-top: 6px;
    line-height: 18px;
    color: #404040;
    width: 400px;
    margin-left: 70px;
}
input[type=text].edit_mode,
textarea.edit_mode {
    border-style: dashed;
    border-color: navy;
    border-width: 1px;
    background-color: transparent;
}
input[type=text].text_mode,
textarea.text_mode {
    border-width: 1px;
    border-color: transparent;
    background-color: transparent;
}
input[type=text].text_mode.etc {
    border-width: 1px;
    border-color: transparent;
    background-color: #CCC;
}
input[type=text].text_mode.none {
    border-width: 1px;
    border-color: transparent;
    background-color: #CCC;
}
input[type=text].text_mode.active,
textarea.text_mode.active {
    color: #FE6F15;
    background-color: transparent;
}
input[type=text][disabled] {
    border-width: 1px;
    border-color: #c8c8c8;
    color: #969696;
}
.eval_bar {
    width: 250px;
    height: 22px;
    margin: 10px 0 5px 60px;
}
.eval_bar.star3ea {
    background: url("/ovey/img/web/editsurvey/bar_star3ea.png") no-repeat 0 0 transparent;
}
.eval_bar.star5ea {
    background: url("/ovey/img/web/editsurvey/bar_star5ea.png") no-repeat 0 0 transparent;
}
.eval_bar.star7ea {
    background: url("/ovey/img/web/editsurvey/bar_star7ea.png") no-repeat 0 0 transparent;
}
.eval_bar_inputs {
    margin-left: 22px;
}
input.ques_eval_bad,
input.ques_eval_neutral,
input.ques_eval_good {
    width: 100px;
    text-align: center;
}
input[name=quesGoto] {
    margin-top: -3px;
    width: 20px;
    text-align: right;
}
input.ques_li_answer {

    color: #333;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed #AAA;
}
.ques_li.ques_li_none input.ques_li_answer {
    background-color: #EEE;
    color: #888;
}
.ques_li.ques_li_etc input.ques_li_answer {
    background-color: #EEE;
    color: #888;
    cursor: default;
}
div.ques.piping .ques_li input.ques_li_answer {
    background-color: #EEE;
    color: #888;
    cursor: default;
}
input.ques_li_answer.opaque {
    border: none;
}
input.ques_li_goto {
    text-align: right;
    width: 20px;
}
input.ques_min_number,
input.ques_max_number {
    text-align: right;
    width: 40px;
}
form.input {
    margin-left: 13px;
}
.edit_survey_next {
    text-align: center;
}
input.datepicker {
    width: 120px;
}
#customerCnt_text {
    width: 100px;
}
input[name=price] {
    font-weight: bold;
}
span.answerCntMaxSpan {
    text-align: right;
    width: 60px;
}
.error-box {
    border-width: 1px !important;
    border-color: #FBC7C6 !important;
    border-style: solid !important;
    background-color: #FDDFDE !important;
}
.error-box.ques_title {
    background-color: transparent !important;
    border: 1px dashed #FFF !important;
}
#filter-dialog {
    overflow: auto;
}
.ui-datepicker-trigger {
    cursor: pointer;
}
.tooltip {
    display: none;
    background: transparent url(/ovey/img/web/editsurvey/black.png) no-repeat 0 0;
    font-size: 12px;
    height: 60px;
    width: 160px;
    padding: 25px;
    color: #fff;
}
.buttonRequestLive {
    width: 170px;
    height: 58px;
    background-image: url(/ovey/img/web/editsurvey/btn_surveylive_yes_normal.png);
}
.buttonRequestLive:hover {
    background-image: url(/ovey/img/web/editsurvey/btn_surveylive_yes_hover.png);
}
.buttonRequestLive:active {
    background-image: url(/ovey/img/web/editsurvey/btn_surveylive_yes_active.png);
}
.buttonSimulation {
    width: 170px;
    height: 58px;
    background-image: url(/ovey/img/web/editsurvey/btn_surveylive_simulation_normal.png);
}
.buttonSimulation:hover {
    background-image: url(/ovey/img/web/editsurvey/btn_surveylive_simulation_hover.png);
}
.buttonSimulation:active {
    background-image: url(/ovey/img/web/editsurvey/btn_surveylive_simulation_active.png);
}
.targetgrid_row {
    overflow: hidden;
    padding: 1% 0 1% 0;
}
.targetgrid_row .targetgrid_cell.whole:first-child {
    position: relative;
    width: 94%;
    float: left;
    padding: 0 3% 0 3%;
}
.targetgrid_row .targetgrid_cell.half:first-child {
    position: relative;
    width: 45%;
    float: left;
    padding: 0 0 0 3%;
}
.targetgrid_row .targetgrid_cell.half.last_child {
    position: relative;
    width: 45%;
    float: right;
    padding: 0 3% 0 0;
}
.targetgrid_cell.half:first-child img.premium {
    position: absolute;
    right: -2px;
    top: 2.1em;
    z-index: 2;
}
.targetgrid_cell.half.last_child img.premium {
    position: absolute;
    right: 15px;
    top: 2.1em;
    z-index: 2;
}
.targetgrid_cell.whole img.premium {
    position: absolute;
    right: 15px;
    top: 2.1em;
    z-index: 2;
}
.target_header {
    overflow: auto;
    padding: 5px;
}
.target_header .target_label {
    font-size: 13px;
    color: #888;
    margin-right: 10px;
}
.target_header .target_display {
    float: right;
    font-size: 13px;
}
.target_body {
    border: 1px solid #CCC;
    border-radius: 3px 3px 3px 3px;
    background-color: #EEE;
    padding: 5px 10px;
    line-height: 25px;
    overflow-y: auto;
    min-height: 38px;
}
[name=specialPremiumFactorInput] {
    width: 40px;
    text-align: right;
}
[name=specialPremiumExtraInput] {
    width: 100px;
    text-align: right;
}
[name=specialPremiumTextInput] {
    width: 300px;
    height: 100px;
    vertical-align: top;
    overflow-y: scroll;
}
#more_targeting {
    border: 5px solid #D0D0D0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.more_targeting_header {
    padding: 15px 10px 15px 20px;
}
.more_targeting_header .desc {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}
#detailDown {
    cursor: pointer;
}
#detailUp {
    cursor: pointer;
}
.more_targeting_body {
    border-top: 5px solid #D0D0D0;
}
.more_targeting_body .row {
    margin: 15px 0 15px 0;
}
.more_targeting_body .more_label {
    float: left;
    width: 90px;
    margin-left: 10px;
    font-weight: bold;
}
.more_targeting_body .more_data {
    margin-left: 120px;
    list-style: disc;
}
.link {
    color: #007DC3;
    font-weight: bold;
}
/* from other sources */
.bs_button {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    *overflow: visible;
    line-height: normal;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bs_close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.bs_btn {
    display: inline-block;
    *display: inline;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 13px;
    line-height: 18px;
    *line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bs_btn:hover,
.bs_btn:active,
.bs_btn.active,
.bs_btn.disabled,
.bs_btn[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}
.bs_btn:active,
.bs_btn.active {
    background-color: #cccccc \9;
}
.bs_btn:first-child {
    *margin-left: 0;
}
.bs_btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.bs_btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.bs_btn.active,
.bs_btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bs_btn.disabled,
.bs_btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.bs_btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
button[name=surveyAppSampleDownloadButton] {
    margin-top: 10px;
}
.help_txt {
    color: #99cc00;
    font-weight: bold;
    font-size: 9pt;
}
.upload_btn {
    position: absolute;
    left: 470px;
    border: 0px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    padding: 0;
}
.upload_btn2 {
    position: absolute;
    left: 580px;
    border: 0px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    padding: 0;
}
.choose_button_wrap {
    position: relative;
    float: left;
    overflow: hidden;
    cursor: pointer;
    background-image: url('/ovey/img/web/editsurvey/btn_file_choose.png');
    width: 94px;
    height: 24px;
    background-repeat: no-repeat;
}
.choose_button_wrap input {
    position: absolute;
    margin-left: -10px;
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-opacity: 0;
    cursor: pointer;
    width: 94px;
    height: 24px;
}
.upload_file_name_wrap {
    position: absolute;
    margin-left: -4px;
    width: 254px;
    height: 24px;
}
.cancel_btn {
    border: 0px;
    height: 34px;
    cursor: pointer;
    background: transparent;
}
.upload_info {
    height: 35px;
}
#result_fixbar {
    position: relative;
    width: 370px;
    clear: none;
    float: right;
    overflow: hidden;
    margin-top: -146px;
    margin-right: -5px;
}
#result_fixbar.expanded {
    width: 600px;
}
#result_fixbar .inner {
    overflow: hidden;
    background: #c3cede;
    border: 5px solid #c3cede;
    height: 165px;
}
#result_fixbar .header {
    overflow: auto;
    background: #FAFAFA;
    padding: 2px 4px;
    font-size: 11px;
}
#result_fixbar .content {
    overflow: auto;
    background: #FAFAFA;
    padding: 4px;
    margin-top: 4px;
    height: 132px;
}
#result_fixbar .header .item_title {
    display: inline-block;
    width: 53px;
    font-weight: bold;
}
#result_fixbar .header .data {
    display: inline-block;
    color: #777777;
}
#result_fixbar .buttons {
    width: 85px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 165px;
    border-left: 5px solid #D0D0D0;
}
.upload-image-info {
    background: #E5E9ED;
    border: 1px solid #8D97A4;
    padding: 10px;
    cursor: pointer;
}
.foggy_wrapper {
    position: absolute;
    background-image: url('/ovey/img/web/editsurvey/bg_blur_wh70.png');
    width: 523px;
    height: 176px;
    z-index: 100;
    text-align: center;
    display: none;
}
.linkcoupon_foggy_wrapper {
    position: absolute;
    background-image: url('/ovey/img/web/editsurvey/bg_blur_wh70.png');
    width: 523px;
    height: 21px;
    z-index: 100;
    text-align: center;
    display: none;
}
.higher_btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.end_img_foggy_wrapper {
    position: absolute;
    background-image: url('/ovey/img/web/editsurvey/bg_blur_wh70.png');
    width: 523px;
    height: 221px;
    z-index: 100;
    text-align: center;
    display: none;
}
.end_img_higher_btn {
    position: absolute;
    top: 40%;
    cursor: pointer;
}
.title_btn_edit {
    position: absolute;
    text-align: center;
    margin-top: -10px;
    margin-left: 30px;
}
#space_bar {
    height: 35px;
}
#tracking_space_bar {
    height: 25px;
}
.profile_question_wrap {
    background-color: #e5e9ed;
}
.btn_defaultinfo {
    background-color: #5BC9E4;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    width: 238px;
    height: 40px;
    float: left;
    font-size: 16pt;
    padding: 15px 10px;
}
.btn_payment {
    background-color: #2667B9;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    width: 238px;
    height: 40px;
    float: right;
    font-size: 16pt;
    padding: 15px 10px;
}
.btn_editquestion {
    background-color: #2667B9;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    width: 238px;
    height: 40px;
    float: right;
    font-size: 16pt;
    padding: 15px 10px;
}
.button_wrap {
    width: 525px;
}
.right-vertical-txt {
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
}
.left-vertical-txt {
    height: 40px;
    line-height: 40px;
    margin-right: 30px;
}
.induce_advancedoption_profile {
    cursor: pointer;
}
.induce_tracking {
    cursor: pointer;
}
.help_unit {
    display: none;
}
.help_tracking {
    display: none;
}
.help_default {
    display: none;
}
.help_advanced {
    display: none;
}
#startBtnEmail {
    cursor: pointer;
}
.tracking_question_wrap {
    position: relative;
}
#advanced_coupon_choice_wrap {
    margin-left: 15px;
}
#link_advanced_coupon_unit_content {
    padding-bottom: 6px;
}
.inputUpload {
    width: 240px;
    height: 20px;
    border: 1px solid #9ea7b3;
}
.inputUpload2 {
    width: 234px;
    height: 20px;
    border: 1px solid #9ea7b3;
}
.control_question{
    background-color: rgba(255, 193, 169, 0.100);
}
.red{
    background-color: rgba(255, 0, 0, 0.08);
}

/*untuk jquery.fixedFirstColumnLaporan*/

#outer-container-laporan{
  top:225px;
  position: absolute;
  left: 5px;
  right: 200px;
}

#inner-container-laporan{
  width:99%;

  overflow-x:auto;
}

#inner-container-laporan .fixed-column{
  background:#FCFCFC;
  width:200px;
  position:absolute;
  left:5px;
  margin-top:-1px;
}

.table-container-laporan{
  width:100%;
  height:100%;
}
