#bus-container{

}

#bus{
    display:block;
    border:3px solid #2D56A4;
    border-radius: 10% 10% 0  0 ;
    background: #fff;
}

#seat-container{
    display:block;
    position:relative;
    overflow:hidden;
    margin-top:75px;
    padding: 2px;
}

.kelas{
    color:#fff;
    font-weight:bold;
    float:left;
    width:75px;
    height:75px;
    display:block;
    margin:5px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

#remove-seat{

  background:#EF5734;
}

.seat{
    border-radius:10%;
    width:75px;
    height:50px;
    //border:1px solid #333;
    background: #B9DEA0;
    color:#fff;
    cursor:pointer;
    float:left;
    margin:0;
    position:absolute;
    background-repeat: no-repeat;
    background-position:center;
}

.seat:hover{
    opacity:0.7;
}

.seat-disabled,.seat-disabled:hover{
  cursor:not-allowed;
  opacity:0.5;
}

.seat-selected, div.ui-selected{
  box-shadow: 0 0 0 1px #000 inset, 0 0 0 2px #fff inset;
}

.ui-selectee{
  border:0;
}

.seat-male{
  background-image:url(images/1416219662_user_male.png)
}

.seat-female{
  background-image:url(images/1416219720_user_female.png)
}

div.ui-selected { border:1px solid #2D56A4;}
div.ui-selecting { border:1px solid #3C658E; }
